<footer class="sticky-footer py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%=  link_to "Alex Dodd", "https://www.alexdodd.ca", class: "text-white" %></small>
  </div>
</footer>