<div class="container">
  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissible fade show" role="alert">
      <%= message %>
    </div>
  <% end %>
</div>